﻿<button class="patientViewButton" ui-sref="registration">Back</button>
<div class="patientViewContainer">
    <div class="patientViewRow">
        First: {{$ctrl.patient.FirstName}}
    </div>
    <div class="patientViewRow">
        Last: {{$ctrl.patient.LastName}}
    </div>
    <div class="patientViewRow">
        City: {{$ctrl.patient.City}}
    </div>
    <div class="patientViewRow">
        State: {{$ctrl.patient.State}}
    </div>
    <div class="patientViewRow">
        Zip: {{$ctrl.patient.Zip}}
    </div>
    <div class="patientViewRow">
        Address 1: {{$ctrl.patient.Address1}}
    </div>
    <div class="patientViewRow">
        Address 2: {{$ctrl.patient.Address2}}
    </div>
    <div class="patientViewRow">
        Phone: {{$ctrl.patient.Phone | phoneFilter}}
    </div>
    <div class="patientViewRow">
        Email: {{$ctrl.patient.Email}}
    </div>
</div>