﻿@import '../app.less';

.patientViewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: @borderWidth solid black;
    margin: @margin;
}

.patientViewRow {
    margin: @margin;
}

.patientViewButton {
    width: @buttonWidth;
    padding: 0px;
    height: @buttonHeight;
    line-height: @buttonHeight;
    margin: @margin;
    cursor: pointer;
}
