﻿<div class="registrationHeader">
    <div class="registrationName borderBlack" type="text">First</div>
    <div class="registrationName borderBlack" type="text">Last</div>
    <div class="registrationCity borderBlack" type="text">City</div>
    <div class="registrationState borderBlack" type="text">State</div>
    <div class="registrationZip borderBlack" type="text">Zip</div>
    <div class="registrationAddress borderBlack" type="text">Address 1</div>
    <div class="registrationPhone borderBlack" type="text">Phone</div>
    <div class="registrationEmail borderBlack" type="text">Email</div>
    <div class="registrationButtonContainer"></div>
</div>
<div class="registrationRow" ng-repeat="patient in $ctrl.patients track by patient.Id">
    <div class="registrationName borderWhite" ng-class="{hide: edit, show: !edit}">{{patient.FirstName}}</div>
    <input class="registrationName" ng-class="{hide: edit == null || !edit, show: edit}" type="text" value="{{patient.FirstName}}" ng-model="patient.FirstName" />
    <div class="registrationName borderWhite" ng-class="{hide: edit, show: !edit}">{{patient.LastName}}</div>
    <input class="registrationName" ng-class="{hide: edit == null || !edit, show: edit}" type="text" value="{{patient.LastName}}" ng-model="patient.LastName" />
    <div class="registrationCity borderWhite" ng-class="{hide: edit, show: !edit}">{{patient.City}}</div>
    <input class="registrationCity" ng-class="{hide: edit == null || !edit, show: edit}" type="text" value="{{patient.City}}" ng-model="patient.City" />
    <div class="registrationState borderWhite" ng-class="{hide: edit, show: !edit}">{{patient.State}}</div>
    <states ng-class="{hide: edit == null || !edit, show: edit}" selected-value="patient.State"></states>
    <div class="registrationZip borderWhite" ng-class="{hide: edit, show: !edit}">{{patient.Zip}}</div>
    <input class="registrationZip" ng-class="{hide: edit == null || !edit, show: edit}" type="text" value="{{patient.Zip}}" ng-model="patient.Zip" />
    <div class="registrationAddress borderWhite" ng-class="{hide: edit, show: !edit}">{{patient.Address1}}</div>
    <input class="registrationAddress" ng-class="{hide: edit == null || !edit, show: edit}" type="text" value="{{patient.Address1}}" ng-model="patient.Address1" />
    <div class="registrationPhone borderWhite" ng-class="{hide: edit, show: !edit}">
        {{patient.Phone | phoneFilter}}
    </div>
    <input class="registrationPhone" ng-class="{hide: edit == null || !edit, show: edit}" type="text" value="{{patient.Phone}}" ng-model="patient.Phone" />
    <div class="registrationEmail borderWhite" ng-class="{hide: edit, show: !edit}">{{patient.Email}}</div>
    <input class="registrationEmail" ng-class="{hide: edit == null || !edit, show: edit}" type="text" value="{{patient.Email}}" ng-model="patient.Email" />
    <div class="registrationButtonContainer">
        <button class="registrationButton" ng-class="{hide: edit, show: !edit}" ui-sref="patientView({patientId: patient.Id})">Select</button>
        <button class="registrationButton" ng-class="{hide: edit, show: !edit}" ng-click="edit = true;">Edit</button>
        <button class="registrationButton" ng-class="{hide: edit == null || !edit, show: edit}" ng-click="edit = false; $ctrl.updatePatient(patient);">Save</button>
        <button class="registrationButton" ng-class="{hide: edit == null || !edit, show: edit}" ng-click="edit = false;">Cancel</button>
        <button class="registrationButton" ng-class="{hide: edit, show: !edit}" ng-click="$ctrl.deletePatient(patient.Id);">Delete</button>
    </div>
</div>
<div class="registrationRow" ng-model="newPatient">
    <input class="registrationName" type="text" value="" ng-model="newPatient.FirstName" />
    <input class="registrationName" type="text" value="" ng-model="newPatient.LastName" />
    <input class="registrationCity" type="text" value="" ng-model="newPatient.City" />
    <states selected-value="newPatient.State" ng-model="newPatient.State"></states>
    <input class="registrationZip" type="text" value="" ng-model="newPatient.Zip" />
    <input class="registrationAddress" type="text" value="" ng-model="newPatient.Address1" />
    <input class="registrationPhone" type="text" value="" ng-model="newPatient.Phone" />
    <input class="registrationEmail" type="text" value="" ng-model="newPatient.Email" />
    <div class="registrationButtonContainer"><button class="registrationButton" ng-click="$ctrl.createPatient(newPatient);">Add</button></div>
</div>