﻿@import '../app.less';

.registrationHeader {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    border: @borderWidthThin solid black;
    justify-content: center;
    margin: @margin;
    min-width: 1100px;
}

.registrationRow {
    display: flex;
    align-items: center;
    border: @borderWidthThin solid black;
    justify-content: center;
    margin: @margin;
    min-width: 1100px;
}

.registrationRow input[type=text] {
    padding: 0px;
    text-align: center;
    margin: @margin;
    height: @inputTextHeight;
    line-height: @inputTextHeight;
}

.registrationRow select {
    padding: 0px;
    text-align: center;
    margin: @margin;
    height: @inputSelectHeight;
    line-height: @inputSelectHeight;
}

.registrationRow div:not(.registrationButtonContainer), .registrationHeader div:not(.registrationButtonContainer) {
    text-align: center;
    margin: @margin;
    height: @rowHeight;
    line-height: @rowHeight;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.registrationName {
    width: @nameWidth;
}

.registrationCity {
    width: @cityWidth;
}

.registrationState {
    width: @stateWidth;
}

.registrationZip {
    width: @zipWidth;
}

.registrationAddress {
    width: @addressWidth;
}

.registrationPhone {
    width: @phoneWidth;
}

.registrationEmail {
    width: @emailWidth;
}

.registrationButtonContainer {
    width: 204px;
    display: flex;
}

.registrationButton {
    width: @buttonWidth;
    padding: 0px;
    height: @buttonHeight;
    line-height: @buttonHeight;
    margin: @margin;
    cursor: pointer;
}