﻿@borderWidth: 2px;
@borderWidthThin: 1px;
@margin: 5px;
@inputTextHeight: 26px;
@inputSelectHeight: 30px;
@rowHeight: 26px;
@nameWidth: 100px;
@cityWidth: 150px;
@stateWidth: 42px;
@zipWidth: 75px;
@addressWidth: 200px;
@phoneWidth: 100px;
@emailWidth: 150px;
@buttonWidth: 58px;
@buttonHeight: 25px;

.hide {
    display: none;
}

.show {
    display: inline;
}

.borderWhite {
    border: @borderWidth solid white;
}

.borderBlack {
    border: @borderWidth solid black;
}